<p class="pull-right">
  [<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

<p>
<%= render @post.categories %>
</p>

<% header = link_to('All Posts', posts_path) + " &raquo; #{@post.title}".html_safe %>
<%= render 'shared/content_title', title: header %>

<p>
<%= link_to @post.url, fixed_url(@post.url) %>
</p>
<p>
<%= @post.description %>
</p>
<hr />

<h4>Create a comment</h4>
<%= render 'shared/errors', obj: @comment %>
<div class='well'>
<%= form_for [@post, @comment] do |f| %>
  <div class='control-group'>
  <%= f.text_area :body, rows: 5 %>
</div>
<%= f.submit "Create a comment", class: "btn btn-primary" %>
<% end %>
</div>

<h5>All Comments</h5>
<% @comments.each do |comment| %>
  <div class="row">
  <div class='span8 well'>
    <p><%= comment.body %></p>
  </div>
</div>
<% end %>
